<div class="flex flex-wrap justify-center w-full py-14">
  <div class="flex flex-col align-center mx-10">
    <img
      ngSrc="assets/images/mont-st-michel.webp"
      alt="Liza at Mont St. Michel"
      width="500"
      height="900"
      class="h-auto"
      data-cy="about-picture"
      [@fadeInLeft]
      priority
    />
    <div class="flex justify-center mt-6 space-x-2" [@fadeIn]>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://instagram.com/lizamorrisonart/"
        data-cy="insta"
      >
        <img
          alt="Instagram"
          src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_50,h_50,al_c,q_85,usm_0.66_1.00_0.01/01c3aff52f2a4dffa526d7a9843d46ea.webp"
          class="w-10 h-10 object-cover"
        />
      </a>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://github.com/lizamorr/art-angular"
        class="flex items-center"
        data-cy="github"
      >
        <img
          alt="GitHub"
          src="assets/images/github.webp"
          class="w-8 h-8 object-cover"
        />
      </a>
    </div>
  </div>
  <div class="flex justify-center px-6" [@fadeIn]>
    <img
      ngSrc="assets/images/about.webp"
      alt="Text describing Liza"
      width="600"
      height="420"
      class="h-auto"
      data-cy="about-text"
      priority
    />
  </div>
</div>
