<div class="fixed top-2 right-2 shadow-lg z-50 rounded-full bg-white">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu more button"
    data-testid="menu-button"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="" data-testid="menu-item-home">
      Home
    </button>
    <button mat-menu-item routerLink="gallery" data-testid="menu-item-gallery">
      Gallery
    </button>
    <button mat-menu-item routerLink="contact" data-testid="menu-item-contact">
      Contact
    </button>
    <button mat-menu-item routerLink="about" data-testid="menu-item-about">
      About
    </button>
  </mat-menu>
</div>
