<div class="menu-container">
  <mat-toolbar class="z-50 justify-end !pt-2 !px-1">
    <button
      mat-icon-button
      (click)="snav.toggle()"
      class="!p-0 flex items-center"
    >
      @if (!snav.opened) {<mat-icon class="!w-10 !h-10 !text-4xl">menu</mat-icon
      >} @else {<mat-icon class="!w-10 !h-10 !text-4xl">close</mat-icon>}
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1" [style.marginTop.px]="56">
    <mat-sidenav
      #snav
      mode="over"
      position="end"
      class="pt-14"
      fixedInViewport="true"
    >
      <mat-nav-list class="space-y-2">
        <a
          mat-list-item
          data-cy="menu-home"
          routerLink="/"
          data-testid="menu-item-home"
          (click)="snav.close()"
        >
          Home
        </a>
        <a
          mat-list-item
          data-cy="menu-gallery"
          routerLink="gallery"
          data-testid="menu-item-gallery"
          (click)="snav.close()"
        >
          Gallery
        </a>
        <a
          mat-list-item
          data-cy="menu-contact"
          routerLink="contact"
          data-testid="menu-item-contact"
          (click)="snav.close()"
        >
          Contact
        </a>
        <a
          mat-list-item
          data-cy="menu-about"
          routerLink="about"
          data-testid="menu-item-about"
          (click)="snav.close()"
        >
          About
        </a>
      </mat-nav-list>
      <core-footer />
    </mat-sidenav>
  </mat-sidenav-container>
</div>
