<div class="pt-20">
  <button
    data-cy="up-btn"
    mat-icon-button
    aria-label="Scroll to top"
    id="scroll-btn"
    [ngClass]="{
      block: isScrollBtnDisplayed(),
      hidden: !isScrollBtnDisplayed()
    }"
    class="fixed bottom-10 right-4 z-[49] p-2 cursor-pointer h-14 w-14 rounded-full bg-white shadow-md flex items-center justify-center text-slate-500 hover:bg-slate-100"
    (click)="scrollToTop()"
  >
    <mat-icon class="!w-9 !h-9 text-4xl">arrow_upward</mat-icon>
  </button>

  <div
    class="fixed h-14 md:h-20 top-12 z-40 left-0 !bg-white bg-opacity-90 text-md md:text-2xl flex space-x-4 md:space-x-20 justify-between px-6 md:justify-center items-center w-full tracking-wider pt-3"
    [@fadeIn]
  >
    <app-gallery-type-toggle
      label="Drawings"
      data-cy="gallery-drawing"
      [isSelected]="isDrawingSelected()"
      (onClickEvent)="toggleSelection('isDrawingSelected')"
    ></app-gallery-type-toggle>
    <app-gallery-type-toggle
      label="Paintings"
      data-cy="gallery-painting"
      [isSelected]="isPaintingSelected()"
      (onClickEvent)="toggleSelection('isPaintingSelected')"
    ></app-gallery-type-toggle>
    <app-gallery-type-toggle
      label="Digital"
      data-cy="gallery-digital"
      [isSelected]="isDigitalSelected()"
      (onClickEvent)="toggleSelection('isDigitalSelected')"
    ></app-gallery-type-toggle>
    <app-gallery-type-toggle
      label="Other"
      data-cy="gallery-other"
      [isSelected]="isOtherSelected()"
      (onClickEvent)="toggleSelection('isOtherSelected')"
    ></app-gallery-type-toggle>
  </div>

  <div
    class="flex flex-row w-full flex-wrap justify-center align-center text-center mt-6 md:mt-10"
  >
    @for (group of filteredImages(); track group[0].desc + '-' + index; let
    index = $index) {
    <div class="self-center">
      @if (group.length === 1 ){
      <div class="items-center inline-flex flex-col justify-center m-5">
        @if (index === 1) {
        <img
          [ngSrc]="group[0].uri"
          [attr.alt]="group[0].originalAlt"
          [id]="group[0].id"
          [width]="group[0].originalWidth"
          [height]="200"
          [attr.data-cy]="'gallery-img--' + index"
          priority
        />} @else {<img
          [ngSrc]="group[0].uri"
          [attr.alt]="group[0].originalAlt"
          [id]="group[0].id"
          [width]="group[0].originalWidth"
          [height]="200"
          [attr.data-cy]="'gallery-img--' + index"
        />}
        <p
          class="text-md md:text-xl w-full text-center tracking-wider mt-2"
          [ngStyle]="{ 'max-width': group[0].originalWidth + 'px' }"
          [attr.data-cy]="'gallery-img-desc--' + index"
          [@fadeIn]
        >
          {{ group[0].desc }}
        </p>
      </div>
      } @else {
      <div
        class="relative z-5 align-center inline-flex flex-col justify-center w-full my-5 mx-10 md:mx-8 max-w-fit"
      >
        <app-gallery-image-carousel [group]="group" [index]="index" />
      </div>
      }
    </div>
    }
  </div>
</div>
